@import "tailwindcss";

@theme {
  --font-family-sans: 'Inter', sans-serif;
  --font-family-serif: 'Playfair Display', serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-serif);
}

img {
  user-select: none;
}

::selection {
  background-color: rgb(245 158 11);
  color: rgb(9 9 11);
}
